.landing-section {
  background-image: url(../img/congruent_pentagon.png);
  color: black;
  padding: 15%;
}

#navbar-2 {
  background-color: #81D8C4;
}

.feature-section {
  /* background-image: url(../img/graysquare.png); */
  color: black;
  padding-top: 6%;
}

.demo-section {
  background-color:#F2F6D4;
  padding: 15%;
}

.contact-section {
  padding: 15%;
}