.landing-section {
  background-image: url(../img/congruent_pentagon.png);
  color: black;
  padding: 15%;
  height: 100%;
  width: 100%;
}

.feature-section {
  color: black;
  padding-top: 6%;
  height: 100%;
  width: 100%;
}

.demo-section {
  background-color:#F2F6D4;
  padding: 12%;
}

.contact-section {
  padding: 15%;
}

/* .copy-button {
  padding-right: 15%;
} */

.divider {
  width:5px;
  height:auto;
  display:inline-block;
}

.copy-button {
  padding: none;
}