h1 {
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway-Medium.ttf) format('ttf');
  font-weight: bolder;
  font-size: larger;
  text-shadow: 2px 2px #81D8C4;
}

h4 {
  /* font-family: 'Quicksand';
  src: local('Quicksand'), url(./fonts/Quicksand-Medium.ttf) format('tff'); */
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway-Medium.ttf) format('ttf');
}

p {
  /* font-family: 'Quicksand';
  src: local('Quicksand'), url(./fonts/Quicksand-Bold.ttf) format('tff'); */
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway-Medium.ttf) format('ttf');
  text-align: center;
}

nav {
  font-family: 'Quicksand';
  src: local('Quicksand'), url(./fonts/Quicksand-Bold.ttf) format('tff');
  font-weight: bolder;
}

.landing-slogan {
  font-size: medium;
  text-shadow: none;
}

/* .landing-title {
  font-size: larger;
} */

.landing-container {
  padding: 10%;
}